
  
  /*# Card css */
  


 .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:30px;
    margin-left: 20px;
    margin-bottom:10px;
    background-color:#FFF;
    width: 50%;
    padding: 1rem;
    height: 50;
  }
  
  .card:hover {
    -webkit-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
  }

  .card-landing{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:30px;
     /* margin-left: 50px; */
    margin-bottom:10px;
    background-color:#FFF;
   
    padding: .5rem;
    
  }
  .wrapper{
    margin-left: 100px;
  }
  .card-landing:hover {
    -webkit-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
  }



  .card > .card-inner {
    padding:1px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }
  .rating1{
    color:yellow;
  }
  .fa-star-o{
    color: black;
  }
  h3{
    margin-left: 100px;
  }
  .btn-link :hover{
   color: #000;

  }

  .heading {
    font-weight: 700;
    color: #5d4267;
  }
  .card.colorful-card .testimonial-card .card-up {
    height: 95px;
  }
  .card.colorful-card .testimonial-card .avatar {
    border: 3px solid #fff !important;
  }
  .card.booking-card {
    background-color: #c7f2e3;
  }
  .card.booking-card .fa {
    color: #f7aa00;
  }
  .card.booking-card .card-body .card-text {
    color: #db2d43;
  }
  .card.card.booking-card .chip {
    background-color: #87e5da;
  }
  .card.booking-card .card-body hr {
    border-top: 1px solid #f7aa00;
  }
  .mimosa {
    background-color: #F0C05A;
  }
  .fuchsia-rose-text {
    color: #db0075;
  }
  .aqua-sky-text {
    color: #5cc6c3;
  }
  .mimosa-text {
    color: #F0C05A;
  }
  .list-inline-item .fas, .list-inline-item .far {
    font-size: .8rem;
  }
  .chili-pepper-text {
    color: #9B1B30;
  }
  .collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
  .card-wrapper.card-action {
    min-height: 400px;
  }


  .pointer {cursor: pointer;
  
  }

.pointer :hover {
background-color: lightgray;
}

  .butt{
     position: relative; 
    margin-left: 10000px;
    color: #000;
    margin-bottom: 1000px;
    
  }

  /* profile  */


/* .actives{
  background-color: blue;
} */

/* product  css */


/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card1 {
  margin-top: 50px;
  background:transparent;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } 
  
    /* .product-title, .rating, .product-description, .price, .vote, .sizes {
      margin-bottom: 50px; } */
    
  
  }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: navy; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 17px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

  .checked{
    color: orange;
  }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


            @media  screen and (max-width: 600px) {
              .product-title, .rating, .product-description, .price, .vote, .sizes, .stars {
                margin-bottom: 2px; }
            }

/*# sourceMappingURL=style.css.map */



/* cart css */
.bodycart{
  /* background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh; */
  margin: 10px;
}
.inputst{
width: 10px;

}

/* button */
.example_f {
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
  width: 100px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.example_f:hover span {
  padding-right: 25px;
}

.example_f:hover span:after {
  opacity: 1;
  right: 0;
}


/* profile review */

.btn-grey {
  background-color: #D8D8D8;
  color: #FFF;
}

.rating-block {
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  padding: 15px 15px 20px 15px;
  border-radius: 3px;
}

.bold {
  font-weight: 700;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.review-block {
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.review-block-name {
  font-size: 12px;
  margin: 10px 0;
}

.review-block-date {
  font-size: 12px;
}

.review-block-rate {
  font-size: 13px;
  margin-bottom: 15px;
}

.review-block-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.review-block-description {
  font-size: 13px;
}

/* map */
.map-container-2 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}