/* image edit user */
.avtcontainer {
  position: relative;
  width: 50%;
 
display: block;
}

.avtimage {
  opacity: 1;
  display: block;

   max-width: 200px;
max-height: 200px;
  
  transition: .5s ease;
  backface-visibility: hidden;
}
.pcard_styl-btn{
  float: right;
  
}
.avtmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.avtcontainer:hover .avtimage {
  opacity: 0.3;
}

.avtcontainer:hover .avtmiddle {
  opacity: 1;
}

.avttext {
  
}

/* order */
.ordetls{
  margin-left: 10px;

  font-size: 16px;
}
.details-set{
  margin-top: 10px;
}
.order-list{
margin-top: 10px;
}
/* category app */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card2 {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 40px;
box-shadow: 5px 18px 15px -7px rgba(0, 0, 0,0.1);
  cursor: pointer;
  transition: 0.4s;
}

.card2 .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card2 .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card2 .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -55px;
  height: 40px;
}

.card2:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.25), 
    -2px -2px 15px 7px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
 
}





  /* Product details */
.dropstyl{
  width: 250px;
}

.signinstyl{
  font-size: 100px;
  cursor: pointer;
}

.errorstyl{
  color: red;
  font-size: 10px;
}

.brandnamsty{
  font-weight: 900;
  color: white;
}

  /*# Card css */
  

.errorstyl{
  font-size: 10px;
}



.cards {
    
    
  
}







.starreview{
  position: absolute;
  top: 8px;
  left: 16px;
}
.addfav{

   position: absolute;
  top: 17px;
  right: 16px;
cursor: pointer;
}
.like{
  color:darkred;
}

.card--1 {

  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 250px;
    height: 270px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}



.card--1:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);




}

.card__info {
margin-top: 10px;
  background-color: #fff;

}
.pcard_styl-btn{
  float: right;
  
}

.card__title {
 /* margin-left: -70px; */
 font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.card__by {
   
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
    float: left;
}

.card__author {
   
    text-decoration: none;
    color: #AD7D52;
}





  /* old */

 
  .card-landing{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:30px;
     /* margin-left: 50px; */
    margin-bottom:10px;
    background-color:#FFF;
   
    padding: .5rem;
    
  }
  .wrapper{
    margin-left: 10px;
 

  }
  .card-landing:hover {
    -webkit-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 32px -1px rgba(0,0,0,0.75);
  }



  .card > .card-inner {
    padding:1px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }
  .rating1{
    color:yellow;
  }
  .fa-star-o{
    color: black;
  }
  h3{
    margin-left: 100px;
  }
  .btn-link :hover{
   color: #000;

  }

  .heading {
    font-weight: 700;
    color: #5d4267;
  }
  .card.colorful-card .testimonial-card .card-up {
    height: 95px;
  }
  .card.colorful-card .testimonial-card .avatar {
    border: 3px solid #fff !important;
  }
  .card.booking-card {
    background-color: #c7f2e3;
  }
  .card.booking-card .fa {
    color: #f7aa00;
  }
  .card.booking-card .card-body .card-text {
    color: #db2d43;
  }
  .card.card.booking-card .chip {
    background-color: #87e5da;
  }
  .card.booking-card .card-body hr {
    border-top: 1px solid #f7aa00;
  }
  .mimosa {
    background-color: #F0C05A;
  }
  .fuchsia-rose-text {
    color: #db0075;
  }
  .aqua-sky-text {
    color: #5cc6c3;
  }
  .mimosa-text {
    color: #F0C05A;
  }
  .list-inline-item .fas, .list-inline-item .far {
    font-size: .8rem;
  }
  .chili-pepper-text {
    float: left;
    font-weight: bold;
    color: black;
  }
  .collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
  .card-wrapper.card-action {
    min-height: 400px;
  }


  .pointer {cursor: pointer;
  
  }

.pointer :hover {
background-color: lightgray;
}

  .butt{
     position: relative; 
    margin-left: 10000px;
    color: #000;
    margin-bottom: 1000px;
    
  }

/* others */
.subtnsty{
  width: 1000px;
  margin-left: 1000px;
  color:red;
}
  /* profile  */


/* .actives{
  background-color: blue;
} */

/* product  css */


.fa{

margin-top: 10px;;

}

.pinp{
  margin-top: 10px;
}


/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 1px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card1 {

  background:transparent;
  padding: 3em;
  }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } 
  
    /* .product-title, .rating, .product-description, .price, .vote, .sizes {
      margin-bottom: 50px; } */
    
  
  }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: navy; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 17px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like1 {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like1:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

  .checked{
    color: orange;
  }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


            @media  screen and (max-width: 600px) {
              .product-title, .rating, .product-description, .price, .vote, .sizes, .stars {
                margin-bottom: 2px; }
            }

/*# sourceMappingURL=style.css.map */



/* cart css */
.bodycart{
  /* background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh; */
  margin: 10px;
}
.inputst{
width: 10px;

}

/* button */
.example_f {
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
  width: 100px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.example_f:hover span {
  padding-right: 25px;
}

.example_f:hover span:after {
  opacity: 1;
  right: 0;
}
.example_e {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
/*  */

/*PEN STYLES*/

.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left .2s;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: navy;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: navy;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}






/* profile review */

.btn-grey {
  background-color: #D8D8D8;
  color: #FFF;
}

.rating-block {
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  padding: 15px 15px 20px 15px;
  border-radius: 3px;
}

.bold {
  font-weight: 700;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.review-block {
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.review-block-name {
  font-size: 12px;
  margin: 10px 0;
}

.review-block-date {
  font-size: 12px;
}

.review-block-rate {
  font-size: 13px;
  margin-bottom: 15px;
}

.review-block-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.review-block-description {
  font-size: 13px;
}

/* map */
.map-container-2 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.send-button{
  
  width: 450px;
}
.dottransty{
  color: transparent;
}
.goosizeinc {
  width: 150px;
}
.fbsizeinc{

width: 150px;
}
.sign-textfiel{
  width: 300px;
  border-width: 200px;
  border-color:blue ;

}
@media screen and (max-width: 600px) {
.card--1{
  margin-left: 100px;
}
.signin-styl{
  margin-left: 100px;
}
.topmargsign{
  
  top: 15px;
}
.send-button{
top: 100px;
  width: 300px;
}

}